/node_modules
/public/hot
/public/storage
/public/uploaded_file
/storage/*.key
.env
/.idea
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
/storage/debugbar/
/packages
/v8-compile-cache-0
/.vscode
